In [6]:
import pandas as pd
from sqlalchemy import create_engine

In [7]:
df = pd.read_csv('taxi_zone_lookup.csv')

In [8]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [9]:
df.to_sql(name='zones', con=engine, if_exists='replace')

265